/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/styles.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}
/* line 39, ../scss/digitaria/_typography.scss */
body h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 63px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px;
  text-rendering: optimizeLegibility;
}
/* line 39, ../scss/digitaria/_typography.scss */
body h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 600;
  line-height: 63px;
  text-rendering: optimizeLegibility;
}
/* line 39, ../scss/digitaria/_typography.scss */
body h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  text-rendering: optimizeLegibility;
}
/* line 39, ../scss/digitaria/_typography.scss */
body h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-rendering: optimizeLegibility;
}
/* line 39, ../scss/digitaria/_typography.scss */
body h5 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  text-rendering: optimizeLegibility;
}
/* line 39, ../scss/digitaria/_typography.scss */
body h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

/* line 10, ../scss/styles.scss */
p, blockquote, pre {
  margin: 15px 0;
}

/* line 13, ../scss/styles.scss */
blockquote, pre {
  padding: 0 20px;
}

/* line 16, ../scss/styles.scss */
pre, code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

/* line 19, ../scss/styles.scss */
img, object, embed {
  height: auto;
  max-width: 100%;
}

/* line 23, ../scss/styles.scss */
.container {
  margin: 0 auto;
  width: 940px;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 768px) {
  /* line 23, ../scss/styles.scss */
  .container {
    padding: 0 20px;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 23, ../scss/styles.scss */
  .container {
    width: 770px;
  }
}
@media (min-width: 1200px) {
  /* line 23, ../scss/styles.scss */
  .container {
    width: 1180px;
  }
}
/* line 25, ../scss/styles.scss */
.container .gr {
  margin-bottom: 10px;
  margin-left: -20px;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container .gr:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 768px) {
  /* line 25, ../scss/styles.scss */
  .container .gr {
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 25, ../scss/styles.scss */
  .container .gr {
    margin-left: -10px;
  }
}
@media (min-width: 1200px) {
  /* line 25, ../scss/styles.scss */
  .container .gr {
    margin-left: -20px;
  }
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-1 {
  float: left;
  margin-left: 20px;
  width: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-1 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-1 {
    margin-left: 10px;
    width: 55px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-1 {
    margin-left: 20px;
    width: 80px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-1.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-2 {
  float: left;
  margin-left: 20px;
  width: 140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-2 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-2 {
    margin-left: 10px;
    width: 120px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-2 {
    margin-left: 20px;
    width: 180px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-2.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-3 {
  float: left;
  margin-left: 20px;
  width: 220px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-3 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-3 {
    margin-left: 10px;
    width: 185px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-3 {
    margin-left: 20px;
    width: 280px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-3.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-4 {
  float: left;
  margin-left: 20px;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-4 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-4 {
    margin-left: 10px;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-4 {
    margin-left: 20px;
    width: 380px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-4.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-5 {
  float: left;
  margin-left: 20px;
  width: 380px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-5 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-5 {
    margin-left: 10px;
    width: 315px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-5 {
    margin-left: 20px;
    width: 480px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-5.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-6 {
  float: left;
  margin-left: 20px;
  width: 460px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-6 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-6 {
    margin-left: 10px;
    width: 380px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-6 {
    margin-left: 20px;
    width: 580px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-6.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-7 {
  float: left;
  margin-left: 20px;
  width: 540px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-7 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-7 {
    margin-left: 10px;
    width: 445px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-7 {
    margin-left: 20px;
    width: 680px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-7.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-8 {
  float: left;
  margin-left: 20px;
  width: 620px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-8 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-8 {
    margin-left: 10px;
    width: 510px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-8 {
    margin-left: 20px;
    width: 780px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-8.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-9 {
  float: left;
  margin-left: 20px;
  width: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-9 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-9 {
    margin-left: 10px;
    width: 575px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-9 {
    margin-left: 20px;
    width: 880px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-9.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-10 {
  float: left;
  margin-left: 20px;
  width: 780px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-10 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-10 {
    margin-left: 10px;
    width: 640px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-10 {
    margin-left: 20px;
    width: 980px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-10.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-11 {
  float: left;
  margin-left: 20px;
  width: 860px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-11 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-11 {
    margin-left: 10px;
    width: 705px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-11 {
    margin-left: 20px;
    width: 1080px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-11.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 83, ../scss/digitaria/_grid.scss */
.container .gr .gc-12 {
  float: left;
  margin-left: 20px;
  width: 940px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-12 {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-12 {
    margin-left: 10px;
    width: 770px;
  }
}
@media (min-width: 1200px) {
  /* line 83, ../scss/digitaria/_grid.scss */
  .container .gr .gc-12 {
    margin-left: 20px;
    width: 1180px;
  }
}
/* line 76, ../scss/digitaria/_grid.scss */
.container .gr .gc-12.fill {
  border: 1px solid;
  padding: 10px;
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-1 {
  margin-left: 100px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-1 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-1 {
    margin-left: 75px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-1 {
    margin-left: 120px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-2 {
  margin-left: 180px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-2 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-2 {
    margin-left: 140px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-2 {
    margin-left: 220px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-3 {
  margin-left: 260px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-3 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-3 {
    margin-left: 205px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-3 {
    margin-left: 320px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-4 {
  margin-left: 340px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-4 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-4 {
    margin-left: 270px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-4 {
    margin-left: 420px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-5 {
  margin-left: 420px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-5 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-5 {
    margin-left: 335px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-5 {
    margin-left: 520px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-6 {
  margin-left: 500px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-6 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-6 {
    margin-left: 400px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-6 {
    margin-left: 620px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-7 {
  margin-left: 580px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-7 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-7 {
    margin-left: 465px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-7 {
    margin-left: 720px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-8 {
  margin-left: 660px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-8 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-8 {
    margin-left: 530px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-8 {
    margin-left: 820px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-9 {
  margin-left: 740px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-9 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-9 {
    margin-left: 595px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-9 {
    margin-left: 920px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-10 {
  margin-left: 820px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-10 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-10 {
    margin-left: 660px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-10 {
    margin-left: 1020px;
  }
}
/* line 104, ../scss/digitaria/_grid.scss */
.container .gr .gc-off-11 {
  margin-left: 900px;
}
@media (max-width: 768px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-11 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-11 {
    margin-left: 725px;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../scss/digitaria/_grid.scss */
  .container .gr .gc-off-11 {
    margin-left: 1120px;
  }
}
