/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194@digi_base/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/digitaria/_colors.scss */
a {
  color: #4084d0;
}
/* line 3, ../scss/digitaria/_colors.scss */
a:hover {
  color: #225288;
}

/* line 8, ../scss/digitaria/_colors.scss */
blockquote {
  border-color: #d4d4d4;
}

/* line 12, ../scss/digitaria/_colors.scss */
body {
  background-color: white;
  color: #555555;
}

/* line 17, ../scss/digitaria/_colors.scss */
code {
  background-color: #eeeeee;
}

/* line 21, ../scss/digitaria/_colors.scss */
pre {
  background-color: #eeeeee;
  border-color: #d4d4d4;
}

/* line 1, ../scss/digitaria/_components.scss */
footer.page {
  background-color: #555555;
  color: white;
  padding: 10px 0;
}

/* line 8, ../scss/digitaria/_components.scss */
header h1, header h2, header h3, header h4, header h5, header h6, hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  margin: 0;
}
/* line 11, ../scss/digitaria/_components.scss */
header.page, hgroup.page {
  background-color: #555555;
  color: white;
  padding: 10px 0;
}
/* line 16, ../scss/digitaria/_components.scss */
header.section, hgroup.section {
  border-bottom: 1px solid #d4d4d4;
  margin: 16px 0;
}

/* line 22, ../scss/digitaria/_components.scss */
.fill {
  background: #eeeeee;
  border: 1px solid #d4d4d4;
  padding: 10px;
}

/* line 2, ../scss/digitaria/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/digitaria/_grid.scss */
.container {
  margin: 0 auto;
  width: 880px;
}

/* line 13, ../scss/digitaria/_grid.scss */
.row {
  margin-bottom: 10px;
  margin-left: -20px;
  *zoom: 1;
}
/* line 18, ../scss/digitaria/_grid.scss */
.row:before, .row:after {
  clear: both;
  display: table;
  content: "";
  line-height: 0;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col1 {
  float: left;
  margin-left: 20px;
  width: 55px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col2 {
  float: left;
  margin-left: 20px;
  width: 130px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col3 {
  float: left;
  margin-left: 20px;
  width: 205px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col4 {
  float: left;
  margin-left: 20px;
  width: 280px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col5 {
  float: left;
  margin-left: 20px;
  width: 355px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col6 {
  float: left;
  margin-left: 20px;
  width: 430px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col7 {
  float: left;
  margin-left: 20px;
  width: 505px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col8 {
  float: left;
  margin-left: 20px;
  width: 580px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col9 {
  float: left;
  margin-left: 20px;
  width: 655px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col10 {
  float: left;
  margin-left: 20px;
  width: 730px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col11 {
  float: left;
  margin-left: 20px;
  width: 805px;
}

/* line 28, ../scss/digitaria/_grid.scss */
.col12 {
  float: left;
  margin-left: 20px;
  width: 880px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off1 {
  margin-left: 95px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off2 {
  margin-left: 170px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off3 {
  margin-left: 245px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off4 {
  margin-left: 320px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off5 {
  margin-left: 395px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off6 {
  margin-left: 470px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off7 {
  margin-left: 545px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off8 {
  margin-left: 620px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off9 {
  margin-left: 695px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off10 {
  margin-left: 770px;
}

/* line 40, ../scss/digitaria/_grid.scss */
.off11 {
  margin-left: 845px;
}

@media (max-width: 768px) {
  /* line 52, ../scss/digitaria/_grid.scss */
  body {
    padding: 0 20px;
  }

  /* line 55, ../scss/digitaria/_grid.scss */
  .container {
    width: auto;
  }

  /* line 58, ../scss/digitaria/_grid.scss */
  .row {
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col1 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col2 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col3 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col4 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col5 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col6 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col7 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col8 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col9 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col10 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col11 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  /* line 62, ../scss/digitaria/_grid.scss */
  .col12 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
    width: 100%;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off1 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off2 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off3 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off4 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off5 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off6 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off7 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off8 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off9 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off10 {
    margin-left: 0;
  }

  /* line 73, ../scss/digitaria/_grid.scss */
  .off11 {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 85, ../scss/digitaria/_grid.scss */
  .container {
    width: 770px;
  }

  /* line 88, ../scss/digitaria/_grid.scss */
  .row {
    margin-left: -10px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col1 {
    margin-left: 10px;
    width: 55px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col2 {
    margin-left: 10px;
    width: 120px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col3 {
    margin-left: 10px;
    width: 185px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col4 {
    margin-left: 10px;
    width: 250px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col5 {
    margin-left: 10px;
    width: 315px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col6 {
    margin-left: 10px;
    width: 380px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col7 {
    margin-left: 10px;
    width: 445px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col8 {
    margin-left: 10px;
    width: 510px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col9 {
    margin-left: 10px;
    width: 575px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col10 {
    margin-left: 10px;
    width: 640px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col11 {
    margin-left: 10px;
    width: 705px;
  }

  /* line 92, ../scss/digitaria/_grid.scss */
  .col12 {
    margin-left: 10px;
    width: 770px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off1 {
    margin-left: 75px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off2 {
    margin-left: 140px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off3 {
    margin-left: 205px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off4 {
    margin-left: 270px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off5 {
    margin-left: 335px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off6 {
    margin-left: 400px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off7 {
    margin-left: 465px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off8 {
    margin-left: 530px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off9 {
    margin-left: 595px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off10 {
    margin-left: 660px;
  }

  /* line 98, ../scss/digitaria/_grid.scss */
  .off11 {
    margin-left: 725px;
  }
}
@media (min-width: 1200px) {
  /* line 110, ../scss/digitaria/_grid.scss */
  .container {
    width: 1180px;
  }

  /* line 113, ../scss/digitaria/_grid.scss */
  .row {
    margin-left: -20px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col1 {
    margin-left: 20px;
    width: 80px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col2 {
    margin-left: 20px;
    width: 180px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col3 {
    margin-left: 20px;
    width: 280px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col4 {
    margin-left: 20px;
    width: 380px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col5 {
    margin-left: 20px;
    width: 480px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col6 {
    margin-left: 20px;
    width: 580px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col7 {
    margin-left: 20px;
    width: 680px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col8 {
    margin-left: 20px;
    width: 780px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col9 {
    margin-left: 20px;
    width: 880px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col10 {
    margin-left: 20px;
    width: 980px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col11 {
    margin-left: 20px;
    width: 1080px;
  }

  /* line 117, ../scss/digitaria/_grid.scss */
  .col12 {
    margin-left: 20px;
    width: 1180px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off1 {
    margin-left: 120px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off2 {
    margin-left: 220px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off3 {
    margin-left: 320px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off4 {
    margin-left: 420px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off5 {
    margin-left: 520px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off6 {
    margin-left: 620px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off7 {
    margin-left: 720px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off8 {
    margin-left: 820px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off9 {
    margin-left: 920px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off10 {
    margin-left: 1020px;
  }

  /* line 123, ../scss/digitaria/_grid.scss */
  .off11 {
    margin-left: 1120px;
  }
}
/* line 37, ../scss/digitaria/_typography.scss */
body {
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

/* line 44, ../scss/digitaria/_typography.scss */
h1 {
  font-size: 63px;
  font-weight: 600;
  line-height: 84px;
}

/* line 44, ../scss/digitaria/_typography.scss */
h2 {
  font-size: 47px;
  font-weight: 600;
  line-height: 63px;
}

/* line 44, ../scss/digitaria/_typography.scss */
h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
}

/* line 44, ../scss/digitaria/_typography.scss */
h4 {
  font-size: 27px;
  font-weight: 600;
  line-height: 36px;
}

/* line 44, ../scss/digitaria/_typography.scss */
h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

/* line 44, ../scss/digitaria/_typography.scss */
h6 {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

/* line 51, ../scss/digitaria/_typography.scss */
p {
  margin: 15px 0;
}

/* line 55, ../scss/digitaria/_typography.scss */
blockquote {
  border-style: solid;
  border-left-width: 5px;
  margin: 15px 10px;
  padding: 10px;
}

/* line 62, ../scss/digitaria/_typography.scss */
pre {
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  border-style: solid;
  border-width: 1px;
  margin: 15px 0;
  padding: 10px;
}

/* line 70, ../scss/digitaria/_typography.scss */
code {
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
