section header {
    border-bottom: 1px solid $color-border;
    margin-bottom: ms(0);
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

.fill {
  background: lighten($color-border, 10%);
  border: 1px solid $color-border;
  padding: 10px;
}