//----------------------------
// variables
//----------------------------
$grid-column-width: 55px !default;
$grid-gutter-width: 20px !default;
$grid-total-columns: 12 !default;
$grid-column-selector: grid-column !default;
$grid-column-offset-selector: grid-column-offset !default;

$is-responsive: true !default;
$has-small: true !default;
$has-medium: true !default;
$has-large: true !default;
$media-small: 768px !default;
$media-medium: 979px !default;
$media-normal: 0px;
$media-large: 1200px !default;
$media-current: $media-normal;

//----------------------------
// mixins
//----------------------------
@mixin grid-container {
  $media-current: $media-normal;
  margin: 0 auto;
  width: getGridContainerWidth();
  @include pie-clearfix;
  @include media-small {
    padding: 0 20px;
    width: auto;
  }
  @include media-medium {
    width: getGridContainerWidth();
  }
  @include media-large {
    width: getGridContainerWidth();
  }
}

@mixin grid-row {
  $media-current: $media-normal;
  margin-bottom: 10px;
  margin-left: - getGridGutterWidth();
  @include pie-clearfix;
  @include media-small {
    margin-bottom: 0;
    margin-left: 0;
  }
  @include media-medium {
    margin-left: - getGridGutterWidth();
  }
  @include media-large {
    margin-left: - getGridGutterWidth();
  }
}

@mixin grid-column($id) {
  $media-current: $media-normal;
  float: left;
  margin-left: getGridGutterWidth();
  width: getGridColumnWidthById($id);
  @include box-sizing(border-box);
  @include media-small {
    float: none;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin-left: 0;
    @if $id == $grid-total-columns { width: 100%; }
  }
  @include media-medium {
    margin-left: getGridGutterWidth();
    width: getGridColumnWidthById($id);
  }
  @include media-large {
    margin-left: getGridGutterWidth();
    width: getGridColumnWidthById($id);
  }
  &.fill {
    background: lighten($color-border, 10%);
    border: 1px solid $color-border;
    padding: 10px;
  }
}
@mixin grid-columns($selector:$grid-column-selector) {
  @for $i from 1 through $grid-total-columns {
    .#{$selector}#{$i} {
      @include grid-column($i);
    }
  }
}

@mixin grid-column-offset($id) {
  $media-current: $media-normal;
  margin-left: getGridOffsetWidthById($id);
  @include media-small {
    margin-left: 0;
  }
  @include media-medium {
    margin-left: getGridOffsetWidthById($id);
  }
  @include media-large {
    margin-left: getGridOffsetWidthById($id);
  }
}
@mixin grid-column-offsets($selector) {
  @for $i from 1 through $grid-total-columns - 1 {
    .#{$selector}#{$i} {
      @include grid-column-offset($i);
    }
  }
}

//----------------------------
// media-queries
//----------------------------
@mixin media-small {
  @if $is-responsive and $has-small {
    @media (max-width: $media-small) {
      $media-current: $media-small;
      @content;
    }
  }
}

@mixin media-medium {
  @if $is-responsive and $has-medium {
    @media (min-width: $media-small) and (max-width: $media-medium) {
      $media-current: $media-medium;
      @content;
    }
  }
}

@mixin media-large {
  @if $is-responsive and $has-large {
    @media (min-width: $media-large) {
      $media-current: $media-large;
      @content;
    }
  }
}

//----------------------------
// functions
//----------------------------
@function getGridContainerWidth() {
  @return (getGridColumnWidth() * $grid-total-columns) + (getGridGutterWidth() * ($grid-total-columns - 1));
}

@function getGridColumnWidth() {
  @if $media-current == $media-medium { @return $grid-column-width; }
  @if $media-current == $media-large { @return $grid-column-width + 25; }
  @return $grid-column-width;
}

@function getGridGutterWidth() {
  @if $media-current == $media-medium { @return 10px; }
  @if $media-current == $media-large { @return 20px; }
  @return $grid-gutter-width;
}

@function getGridColumnWidthById($id) {
  @return ($id * getGridColumnWidth()) + (getGridGutterWidth() * ($id - 1));
}

@function getGridOffsetWidthById($id) {
  @return ($id * getGridColumnWidth()) + (getGridGutterWidth() * ($id + 1));
}