// box-sizing
* {
  @include box-sizing(border-box);
}

// .container
.container {
  margin: 0 auto;
  width: getContainerWidth();
}

// .row
.row {
  margin-bottom: 10px;
  margin-left: - getGutterWidth();
  letter-spacing: -4px;
  word-spacing: -4px;
}

// .col
@for $i from 1 through $total-columns {
  .col#{$i} {
    @if $display-grid-bg {
      background: #cccccc;
    }
    display: inline-block;
    margin-left: getGutterWidth();
    letter-spacing: 0;
    vertical-align: top;
    width: getColumnWidthById($i);
    word-spacing: 0;
    &.fill {
      background: #cccccc;
      padding: 10px;
    }
  }
}

// .off
@for $i from 1 through $total-columns - 1 {
  .off#{$i} {
    margin-left: getOffsetWidthById($i);
  }
}

//----------------------------
// Responsive
@if $is-responsive {
  // small
  @if $has-small {
    @media (max-width: $media-small) {
      $media-current: $media-small;
      body {
        padding: 0 20px;
      }
      .container {
        width: auto;
      }
      .row {
        margin-left: 0;
      }
      @for $i from 1 through $total-columns {
        .col#{$i} {
          float: none;
          display: block;
          width: auto;
          margin-left: 0;
          @if $i == $total-columns {
            width: 100%;
          }
        }
      }
      @for $i from 1 through $total-columns - 1 {
        .off#{$i} {
          margin-left: 0;
        }
      }
    }
  }

  // medium
  @if $has-medium {
    @media (min-width: $media-small) and (max-width: $media-medium) {
      $media-current: $media-medium;

      .container {
        width: getContainerWidth();
      }
      .row {
        margin-left: - getGutterWidth();
      }
      @for $i from 1 through $total-columns {
        .col#{$i} {
          margin-left: getGutterWidth();
          width: getColumnWidthById($i);
        }
      }
      @for $i from 1 through $total-columns - 1 {
        .off#{$i} {
          margin-left: getOffsetWidthById($i);
        }
      }
    }
  }

  // x-large
  @if $has-xlarge {
    @media (min-width: $media-xlarge) {
      $media-current: $media-xlarge;

      .container {
        width: getContainerWidth();
      }
      .row {
        margin-left: - getGutterWidth();
      }
      @for $i from 1 through $total-columns {
        .col#{$i} {
          margin-left: getGutterWidth();
          width: getColumnWidthById($i);
        }
      }
      @for $i from 1 through $total-columns - 1 {
        .off#{$i} {
          margin-left: getOffsetWidthById($i);
        }
      }
    }
  }
}