

//----------------------------
// Typography Settings
$font-face: 'sans' !default;
$font-size: 15px !default;

//----------------------------
// Color Settings
$color-bg: #ffffff !default;
$color-link: #4084D0 !default;
$color-text: #555555 !default;
$color-border: lighten($color-text, 50%) !default;