//----------------------------
// imports
//----------------------------
@import "digitaria/colors";

//----------------------------
// variables
//----------------------------
$button-border: 1px solid !default;
$button-border-radius: 4px !default;
$button-gradient: true !default;
$button-padding: 5px 10px !default;

//----------------------------
// mixins
//----------------------------
@mixin buttons {
  a.button, button {
    @include button;
    &.primary {
      @include button(white, $color-primary);
    }
    &.secondary {
      @include button(white, $color-secondary);
    }
    &.tertiary {
      @include button(white, $color-tertiary);
    }
  }
}

@mixin button($text-color:$color-default, $bg-color:lighten($color-default, 60%)) {
  padding: $button-padding;
  @include border-radius($button-border-radius);
  @include color-button($text-color, $bg-color);
  &:hover, &:focus {
    @include color-button($text-color, color-lighten($bg-color));
  }
  &:active {
    background-color: color-darken($bg-color);
  }
}

@mixin color-button($text-color, $bg-color) {
  color: $text-color;
  border: $button-border;
  border-color: color-darken($bg-color);
  @if $button-gradient {
    @include background-image(linear-gradient(color-lighten($bg-color), color-darken($bg-color)));
    @include filter-gradient(color-lighten($bg-color), color-darken($bg-color));
  } @else {
    background-color: $bg-color;
  }
}